@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* НАЧАЛО СБРОСА СТИЛЕЙ */
html {
  scroll-behavior: smooth;
}

main {
  white-space: normal;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
li[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  white-space: normal;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  white-space: normal;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

/* Упрощаем работу с изображениями */
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* КОНЕЦ СБРОСА СТИЛЕЙ */
.main-buttons .our-projets, .main-buttons .our-customers, .office, .title .blur {
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

header {
  color: white;
  position: absolute;
  background: transparent;
  height: 120px;
  width: 100%;
  z-index: 2;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  width: 28%;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav li {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 1em;
  margin-left: 2em;
  cursor: pointer;
  transition: all 2s;
}
nav li:hover {
  -webkit-animation: headerAnim 1s ease-in-out;
          animation: headerAnim 1s ease-in-out;
}
nav .logo-wrapper {
  width: 80px;
  margin-left: 12%;
}

.contact-btn {
  width: 10%;
  display: flex;
  height: 60px;
  margin-left: auto;
  margin-right: 12%;
  float: right;
}
.contact-btn button {
  width: 100%;
  height: 60px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: #fff;
  border: 1px solid;
  text-align: center;
  transition: all 0.7s;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(to left top, #ffffff 10%, transparent 30%, transparent 70%, #ffffff 90%);
     border-image: linear-gradient(to left top, #ffffff 10%, transparent 30%, transparent 70%, #ffffff 90%);
  border-image-slice: 7 0 0 2;
  cursor: pointer;
}
.contact-btn button p {
  padding-top: 3em;
}
.contact-btn button:hover {
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes headerAnim {
  0% {
    transform: translateY(-4px);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes headerAnim {
  0% {
    transform: translateY(-4px);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
footer {
  background-color: #1C1F2A;
}
footer .footer-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 0% 2% 0%;
}
footer .footer-wrapper .contact-form {
  width: 100%;
  color: #fff;
}
footer .footer-wrapper .contact-form .contact-input {
  display: inline-block;
  position: relative;
  top: -64px;
  width: 22%;
  height: 48px;
  margin-left: 78%;
}
footer .footer-wrapper .contact-form span {
  color: #fff;
}
footer .footer-wrapper .contact-form button {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  top: -32px;
  margin-left: 94%;
  background: transparent;
  border: none;
  opacity: 50%;
  cursor: pointer;
}
footer .footer-wrapper .contact-form button:hover {
  opacity: 100%;
}
footer .footer-wrapper .contact-form input {
  width: 100%;
  height: 48px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  padding-left: 10%;
  font-family: "Inter", sans-serif;
  background-image: url(/img/round-email.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 24px;
}
footer .footer-wrapper .contact-form input:focus {
  border-bottom: 1px solid #fff;
}
footer .footer-wrapper hr {
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  border: none;
}
footer .footer-wrapper .contact-info {
  width: 100%;
  margin-top: 6%;
}
footer .footer-wrapper .contact-info .footer-logo {
  width: 64px;
}
footer .footer-wrapper .contact-info p {
  width: 38%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin-top: 2ex;
}
footer .footer-wrapper .social-media {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 8%;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
footer .footer-wrapper .social-media span {
  margin-right: 68%;
}
footer .footer-wrapper .social-media .social-media__icon {
  width: 36px;
  height: 36px;
  display: flex;
  float: right;
  margin-right: 2em;
  background-color: #2d3347;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer .footer-wrapper .social-media .social-media__icon:hover {
  background-color: #3e496d;
}
footer .footer-wrapper .social-media .social-media__icon .social-media__wrapper {
  width: 24px;
  height: 24px;
}
@media screen and (max-device-width: 430px) {
  footer .footer .footer-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8% 0% 22% 0%;
  }
}

.close-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(/img/eva_close-outline.png);
  right: 82px;
  top: 40px;
  z-index: 3;
  cursor: pointer;
}

.btn {
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #4681f0;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  background-color: transparent;
  cursor: pointer;
}
.btn span {
  position: relative;
  z-index: 2;
}

.btn::before {
  background: #4681f0;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all 0.6s ease;
}

.btn2::before {
  width: 100%;
  height: 102%;
}

.btn2:hover::before {
  height: 0%;
}

#active {
  color: #4681f0;
}

.slider-container {
  display: block;
  width: 100%;
  top: 0px;
  background-color: #fff;
}

.slider-wrapper {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6%;
  padding-top: 6%;
}

.menu-point {
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
}
.menu-point span {
  font-weight: 600;
  color: #000;
}

.menu-header {
  width: 40%;
  font-size: 44px;
  font-weight: 600;
  margin-top: 1rem;
}

.slider-elements {
  display: flex;
  width: 100%;
}

.slider-left {
  display: block;
  width: 50%;
}
.slider-left hr {
  display: inline-block;
  width: 2px;
  height: 400px;
  margin-left: 1rem;
  border: none;
  background: linear-gradient(#ffffff, #4f5057);
}
.slider-left span {
  font-weight: 600;
  color: #c4c4c4;
  margin-right: 1rem;
}
.slider-left ul {
  display: inline-block;
  position: relative;
  top: -52px;
  width: 94%;
  transition: all 2s;
}
.slider-left ul.navOpen {
  -webkit-animation: navOpen 1s ease-in-out;
          animation: navOpen 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slider-left li {
  width: 100%;
  font-weight: 500;
  color: #000;
  padding: 1rem;
  padding-top: 6%;
  font-size: 24px;
  cursor: pointer;
}
.slider-left li:hover span {
  color: #4681f0;
  transition: ease 1s;
}
.slider-left button {
  display: block;
  width: 120px;
  height: 36px;
  margin-left: 4%;
  margin-top: 16%;
  background-color: transparent;
  border: 1.5px solid #000;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
.slider-left .active-btn {
  color: #4681f0;
}

.slider-right {
  width: 60%;
  height: 560px;
  position: relative;
  top: -20px;
}

.slider-right-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo-desc {
  display: block;
  width: 100%;
  height: 100%;
  transition: ease-in 0.5s;
}

.slider-img {
  width: 100%;
  height: 100%;
  transition: ease-in 0.5s;
  position: relative;
}

.description {
  position: absolute;
  display: flex;
  width: 50%;
  height: 120px;
  padding: 2em;
  top: 440px;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  background: linear-gradient(#3A3E4B, #1C1F2A);
  color: #ffffff;
  font-size: 14px;
  z-index: 1;
}

.title {
  position: absolute;
  width: 24%;
  height: 120px;
  top: 440px;
  left: 415px;
  z-index: 1;
}
.title p {
  position: relative;
  z-index: 3;
  font-size: 16px;
  color: #fff;
  padding: 2em;
  width: 100%;
  font-weight: 300;
}
.title span {
  font-weight: 500;
  font-size: 12px;
}
.title .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hide {
  opacity: 100%;
}

.show {
  opacity: 100%;
}

.cursor {
  display: flex;
  height: 64px;
  width: 64px;
  pointer-events: none;
  position: absolute;
  background-size: 100%;
  box-sizing: border-box;
  transition: 0, 1s;
  transform: translate(-50%, -50%);
}

.about-container {
  width: 100%;
  height: 780px;
  display: flex;
}

.foto-right {
  width: 60%;
  font-size: 0;
}

.foto-1 {
  height: 390px;
}

.about-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(#3A3E4B, #1C1F2A);
  float: right;
}

.about-2-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  padding: 160px;
  padding-bottom: 0px;
}
.about-2-wrapper hr {
  display: inline-block;
  width: 2px;
  height: 300px;
  margin-left: 1rem;
  border: none;
  background: linear-gradient(#4f5057, #ffffff);
}

.about-point {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.about-h1 {
  font-size: 56px;
  font-weight: 600;
  color: white;
}

.about-desc {
  position: absolute;
  display: inline;
  width: 34%;
  margin-left: 8%;
  margin-top: 2rem;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}
.about-desc button {
  width: 608px;
  height: 54px;
  margin-top: 6em;
}

.project-container {
  width: 100%;
  margin-bottom: 6%;
}

.project-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.project-up {
  width: 100%;
  display: inline-block;
}

.project-point {
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
  margin-bottom: 1rem;
}
.project-point span {
  font-weight: 600;
  color: #000;
}

.project-h1 {
  float: left;
  font-size: 56px;
  font-weight: 600;
  color: black;
  width: 800px;
}

.project-desc {
  float: right;
  width: 34%;
  font-size: 22px;
  font-weight: 300;
  color: black;
}
.project-desc button {
  width: 100%;
  height: 54px;
  margin-top: 3em;
}
.project-desc button:hover {
  color: #4681f0;
}

.project-down-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: opacity 2s;
}

.project-down {
  margin-top: 4rem;
  background: url(../img/wellcome5.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  margin-left: auto;
  display: inline-block;
}

.slider-btn {
  position: relative;
  display: flex;
  width: 12%;
  height: 100px;
  padding: 2em;
  margin-top: 18%;
  float: right;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  background: linear-gradient(#3A3E4B, #1C1F2A);
  color: #ffffff;
  font-size: 14px;
  z-index: 1;
  border: 1px solid;
  cursor: pointer;
}
.slider-btn button {
  background: none;
  border-radius: none;
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.office {
  margin-top: 18%;
  width: 500px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border: 1px solid;
}

.office-point {
  font-size: 28px;
  font-weight: 400;
  color: #c4c4c4;
}
.office-point span {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.office-text {
  margin-top: 12%;
  margin-left: 4rem;
  line-height: 2;
  color: white;
  font-size: 18px;
}

.arrow {
  width: 30px;
  height: 30px;
}

.main-container {
  height: 1000px;
  background-image: url(../img/main-bg.jpg);
  background-size: 100% 100%;
}

.main-wrapper {
  width: 80%;
  height: 72%;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

.main-head {
  width: 70%;
  margin-left: 4%;
}
.main-head h1 {
  color: #fff;
  font-size: 106px;
  font-weight: 600;
}

.main-desc {
  width: 34%;
  margin-left: 14%;
  margin-top: 2em;
  font-size: 22px;
  color: #fff;
}

.main-buttons {
  width: 52%;
  font-size: 0px;
  float: right;
}
.main-buttons span {
  font-size: 14px;
  font-weight: 300;
}
.main-buttons .our-customers {
  width: 58%;
  height: 140px;
  font-size: 18px;
  color: #fff;
  border: 1px solid;
  text-align: center;
  margin-left: 42%;
  transition: all 0.7s;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(to left top, #ffffff 10%, transparent 30%, transparent 70%, #ffffff 90%);
     border-image: linear-gradient(to left top, #ffffff 10%, transparent 30%, transparent 70%, #ffffff 90%);
  border-image-slice: 7 0 0 2;
  cursor: pointer;
}
.main-buttons .our-customers p {
  padding-top: 3em;
}
.main-buttons .our-customers:hover {
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
}
.main-buttons .our-projets {
  width: 42%;
  height: 140px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  border: 1px solid;
  text-align: center;
  position: relative;
  top: -8px;
  transition: all 0.7s;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(to left top, #ffffff 10%, transparent 30%, transparent 70%, #ffffff 90%);
     border-image: linear-gradient(to left top, #ffffff 10%, transparent 30%, transparent 70%, #ffffff 90%);
  border-image-slice: 7 0 0 2;
  cursor: pointer;
}
.main-buttons .our-projets p {
  padding-top: 3em;
}
.main-buttons .our-projets:hover {
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
}
.main-buttons .about-us {
  width: 58%;
  height: 140px;
  display: inline-block;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  transition: all 0.7s;
}
.main-buttons .about-us .play {
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}
.main-buttons .about-us .play .play-img {
  width: 32px;
  height: 32px;
  float: right;
  margin-top: 4%;
  transition: all 0.7s;
}
.main-buttons .about-us .play p {
  display: inline-block;
  font-weight: 500;
}
.main-buttons .about-us .play span {
  display: inline-block;
  color: #c4c4c4;
}

.about-video {
  display: none;
  width: 574px;
  height: 140px;
  position: absolute;
  bottom: -44px;
  right: 0px;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}
.about-video #player {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: -60px;
  background-color: #fff;
  transition: all 1s;
}

@-webkit-keyframes topBar_open {
  0% {
    transform: translateY(0px) rotate(0deg);
    width: 15px;
  }
  10% {
    transform: translateY(-14px) translateX(8px) rotate(0deg);
    width: 15px;
  }
  50% {
    transform: translateY(0px) translateX(8px) rotate(45deg);
    width: 28px;
  }
  75% {
    transform: translateY(0px) translateX(8px) rotate(45deg);
    width: 28px;
  }
  100% {
    transform: translateY(0px) translateX(8px) rotate(45deg);
    width: 28px;
    background-color: #000;
  }
}

@keyframes topBar_open {
  0% {
    transform: translateY(0px) rotate(0deg);
    width: 15px;
  }
  10% {
    transform: translateY(-14px) translateX(8px) rotate(0deg);
    width: 15px;
  }
  50% {
    transform: translateY(0px) translateX(8px) rotate(45deg);
    width: 28px;
  }
  75% {
    transform: translateY(0px) translateX(8px) rotate(45deg);
    width: 28px;
  }
  100% {
    transform: translateY(0px) translateX(8px) rotate(45deg);
    width: 28px;
    background-color: #000;
  }
}
@-webkit-keyframes bottomBar_open {
  0% {
    transform: translateY(0px) rotate(0deg);
    width: 15px;
  }
  10% {
    transform: translateY(-8px) translateX(-8px) rotate(0deg);
    width: 15px;
  }
  60% {
    transform: translateY(-12px) translateX(-8px) rotate(-45deg);
    width: 28px;
  }
  75% {
    transform: translateY(-12px) translateX(-8px) rotate(-45deg);
    width: 28px;
  }
  100% {
    transform: translateY(-12px) translateX(-8px) rotate(-45deg);
    width: 28px;
    background-color: #000;
  }
}
@keyframes bottomBar_open {
  0% {
    transform: translateY(0px) rotate(0deg);
    width: 15px;
  }
  10% {
    transform: translateY(-8px) translateX(-8px) rotate(0deg);
    width: 15px;
  }
  60% {
    transform: translateY(-12px) translateX(-8px) rotate(-45deg);
    width: 28px;
  }
  75% {
    transform: translateY(-12px) translateX(-8px) rotate(-45deg);
    width: 28px;
  }
  100% {
    transform: translateY(-12px) translateX(-8px) rotate(-45deg);
    width: 28px;
    background-color: #000;
  }
}
@-webkit-keyframes menuLabel_open {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(-18px);
  }
  45% {
    transform: translateY(44px);
    opacity: 1;
  }
  48% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes menuLabel_open {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(-18px);
  }
  45% {
    transform: translateY(44px);
    opacity: 1;
  }
  48% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-webkit-keyframes topBar_close {
  0% {
    transform: translateY(17px) rotate(45deg);
    width: 15px;
  }
  35% {
    transform: translateY(-8px) rotate(-4deg);
    width: 15px;
  }
  53% {
    transform: translateY(10px) rotate(3deg);
    width: 15px;
  }
  70% {
    transform: translateY(-6px) rotate(0deg);
    width: 36px;
  }
  100% {
    transform: translateY(-2px) rotate(0deg);
    width: 36px;
    background-color: #fff;
  }
}
@keyframes topBar_close {
  0% {
    transform: translateY(17px) rotate(45deg);
    width: 15px;
  }
  35% {
    transform: translateY(-8px) rotate(-4deg);
    width: 15px;
  }
  53% {
    transform: translateY(10px) rotate(3deg);
    width: 15px;
  }
  70% {
    transform: translateY(-6px) rotate(0deg);
    width: 36px;
  }
  100% {
    transform: translateY(-2px) rotate(0deg);
    width: 36px;
    background-color: #fff;
  }
}
@-webkit-keyframes bottomBar_close {
  0% {
    transform: translateY(-8px) rotate(-45deg);
    width: 15px;
  }
  35% {
    transform: translateY(-18px) rotate(6deg);
    width: 15px;
  }
  53% {
    transform: translateY(0px) rotate(-3deg);
    width: 15px;
  }
  68% {
    transform: translateY(-7px) rotate(0deg);
    width: 36px;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    width: 36px;
    background-color: #fff;
  }
}
@keyframes bottomBar_close {
  0% {
    transform: translateY(-8px) rotate(-45deg);
    width: 15px;
  }
  35% {
    transform: translateY(-18px) rotate(6deg);
    width: 15px;
  }
  53% {
    transform: translateY(0px) rotate(-3deg);
    width: 15px;
  }
  68% {
    transform: translateY(-7px) rotate(0deg);
    width: 36px;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    width: 36px;
    background-color: #fff;
  }
}
@-webkit-keyframes menuLabel_close {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  5% {
    transform: translateY(25px);
    opacity: 1;
  }
  25% {
    transform: translateY(-30px);
    opacity: 1;
  }
  37% {
    transform: translateY(-22px);
    opacity: 1;
  }
  45% {
    transform: translateY(-22px);
    opacity: 1;
  }
  58% {
    transform: translateY(8px) rotate(-10deg);
    opacity: 1;
  }
  83% {
    transform: translateY(-6px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menuLabel_close {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  5% {
    transform: translateY(25px);
    opacity: 1;
  }
  25% {
    transform: translateY(-30px);
    opacity: 1;
  }
  37% {
    transform: translateY(-22px);
    opacity: 1;
  }
  45% {
    transform: translateY(-22px);
    opacity: 1;
  }
  58% {
    transform: translateY(8px) rotate(-10deg);
    opacity: 1;
  }
  83% {
    transform: translateY(-6px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes navOpen {
  0% {
    display: block;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes navOpen {
  0% {
    display: block;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
#menu-btn {
  display: none;
  position: relative;
  text-align: center;
  width: 36px;
  height: 36px;
  z-index: 2;
}
#menu-btn:before, #menu-btn:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #FFF;
  display: block;
  position: absolute;
  border-radius: 20px;
}
#menu-btn:before {
  transform-origin: left center;
}
#menu-btn:after {
  right: 0;
  top: 12px;
  transform-origin: right center;
}
#menu-btn .text {
  color: #FFF;
  font-family: "Inter", sans-serif;
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  letter-spacing: 2.5px;
}
#menu-btn:hover {
  cursor: pointer;
}
#menu-btn.open:before {
  -webkit-animation: topBar_open 1s ease-in-out;
          animation: topBar_open 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#menu-btn.open:after {
  -webkit-animation: bottomBar_open 1s ease-in-out;
          animation: bottomBar_open 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#menu-btn.open .text {
  -webkit-animation: menuLabel_open 1s ease-in;
          animation: menuLabel_open 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#menu-btn.close:before {
  -webkit-animation: topBar_close 1s ease-in-out;
          animation: topBar_close 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#menu-btn.close:after {
  -webkit-animation: bottomBar_close 1s ease-in-out;
          animation: bottomBar_close 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#menu-btn.close .text {
  -webkit-animation: menuLabel_close 1s ease-in;
          animation: menuLabel_close 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.credits {
  display: block;
  color: white;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.6;
}

.rights {
  display: none;
  color: #000;
  font-size: 12px;
  margin-top: 112%;
}

@media screen and (max-device-width: 430px) {
  .menu-header {
    font-size: 25px;
    width: 100%;
    margin-top: 8%;
    font-size: 30px;
  }
  .rights {
    display: block;
  }
  #menu-btn {
    display: block;
    cursor: pointer;
  }
  .mobile-icon {
    display: none;
    width: 32px;
    height: 32px;
  }
  .main-container {
    height: 812px;
  }
  .main-wrapper {
    width: 100%;
    height: 65.5%;
  }
  nav {
    justify-content: space-between;
    height: 100%;
  }
  nav ul {
    display: none;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    padding-left: 0%;
    padding-top: 16%;
    top: 0px;
    background-color: rgb(255, 255, 255);
    height: 800px;
    opacity: 0%;
    z-index: 1;
    transition: all 1s;
  }
  nav ul.navOpen {
    -webkit-animation: navOpen 1s ease-in-out;
            animation: navOpen 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  nav li {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 22px;
    font-weight: 500;
    padding: 0em;
    margin-left: 0em;
    padding-top: 14%;
    color: #000;
  }
  nav li a {
    color: #000;
  }
  nav .logo-wrapper {
    display: inline-block;
    width: 64px;
    margin-left: 6%;
  }
  nav .mobile-icon {
    width: 32px;
    display: inline-block;
    margin-right: 6%;
  }
  nav .contact-btn {
    display: none;
  }
  .main-head {
    width: 80%;
    margin-top: 32%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-head h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
  }
  .main-desc {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    font-size: 18px;
    color: #fff;
  }
  .main-desc button {
    width: 100%;
    height: 54px;
    margin-top: 1.5em;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #4681f0;
    border: none;
    transition: background-color 1s;
  }
  .main-desc button:hover {
    background: linear-gradient(240deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  }
  .explore-more {
    display: none;
  }
  .main-buttons {
    width: 100%;
    margin-top: 12%;
  }
  .main-buttons .our-customers {
    width: 100%;
    height: 80px;
    float: none;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .main-buttons .our-customers p {
    padding-top: 0%;
  }
  .main-buttons .our-projets {
    width: 100%;
    height: 80px;
    float: none;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .main-buttons .our-projets p {
    padding-top: 0%;
  }
  .main-buttons .about-us {
    width: 100%;
    height: 80px;
    float: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-buttons .about-us .play {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-buttons .about-us .play .play-img {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 0%;
    margin-left: 12%;
    transition: all 0.7s;
  }
  .main-buttons .about-us .play p {
    display: inline-block;
    font-weight: 500;
  }
  .main-buttons .about-us .play span {
    display: none;
    color: #c4c4c4;
  }
  .slider-container {
    margin-top: 8%;
  }
  .slider-right {
    width: 100%;
    margin-top: 28%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .slider-right .description {
    height: 120px;
  }
  .slider-right .slider-img {
    height: 220px;
  }
  .slider-left {
    width: 100%;
  }
  .slider-left ul {
    width: 100%;
    margin-left: 0%;
    top: 0px;
    padding-left: 0%;
  }
  .slider-left li {
    padding-left: 0%;
    font-size: 18px;
    padding-bottom: 2%;
  }
  .slider-left hr {
    display: none;
    height: 59%;
  }
  .slider-left button {
    width: 300px;
    margin-top: 44%;
    margin-left: 12%;
  }
  .slider-left .slider-img {
    margin-top: 6%;
  }
  .about-container {
    width: 100%;
    height: 776px;
    display: flex;
  }
  .foto-right {
    width: 99%;
    font-size: 0;
    position: absolute;
    top: 2600px;
    right: 0%;
    margin-top: 6%;
  }
  .foto-1 {
    height: 220px;
  }
  .about-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(#3A3E4B, #1C1F2A);
  }
  .about-2-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    padding: 24px;
  }
  .about-2-wrapper hr {
    display: inline-block;
    width: 2px;
    height: 200px;
    margin-left: 1rem;
    margin-top: 80%;
    border: none;
    background: linear-gradient(#4f5057, #ffffff);
  }
  .about-point {
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .about-h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 31px;
    font-weight: 600;
    color: white;
  }
  .about-desc {
    position: absolute;
    display: inline;
    width: 70%;
    margin-left: 8%;
    margin-top: 81%;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
  }
  .about-desc button {
    width: 251px;
    height: 50px;
    margin-top: 20%;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #4681f0;
    border: none;
    transition: background-color 1s;
  }
  #foto-none {
    display: none;
  }
  .project-container {
    width: 100%;
    margin-bottom: 0;
  }
  .project-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
  }
  .project-up {
    width: 100%;
    display: inline-block;
  }
  .project-point {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
  }
  .project-h1 {
    width: 100%;
    font-size: 29px;
    font-weight: 600;
    color: black;
  }
  .project-desc {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-left: 10%;
    margin-top: 6%;
  }
  .project-desc button {
    width: 100%;
    height: 54px;
    margin-top: 1em;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #4681f0;
    border: none;
    transition: background-color 1s;
  }
  .project-down-wrapper {
    width: 100%;
    display: block;
    margin-top: -11%;
  }
  .project-down {
    background: url(/img/wellcome5.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
  }
  .office-text {
    color: white;
    margin-right: 10%;
    padding-top: 20px;
    margin-top: 0%;
    margin-left: 10%;
  }
  .slider-btn {
    position: relative;
    display: flex;
    width: 12%;
    height: 23px;
    padding: 2em;
    margin-top: 23%;
    float: right;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    background: linear-gradient(#3A3E4B, #1C1F2A);
    color: #ffffff;
    font-size: 14px;
    z-index: 1;
    border: 1px solid;
  }
  .slider-btn button {
    background: none;
    border-radius: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 800;
    border: none;
  }
  .office {
    margin-top: 24%;
    width: 185px;
    height: 54px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3px;
    color: #fff;
    border: 1px solid;
  }
  .office-point {
    font-size: 17px;
    font-weight: 400;
    color: #c4c4c4;
  }
}/*# sourceMappingURL=style.css.map */