$main_color: #4681f0; //Основной цвет
$grey_color: #c4c4c4; //Серый цвет
$main_gradient: linear-gradient(#3A3E4B, #1C1F2A); //Основной градиент
$mbig_fz: 30px;
$big_fz: 44px;
//Блюр фона
%blur {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}

$red: #ff6100;
$mainFont : 'Inter',
sans-serif;
$anim_time: 1s;